.home-page {
  background-color: #efefef; 
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}

.home-content {
  background-color: #ffffff; 
  padding: 30px 40px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: left;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 45px;
  color: #000000;
}

.home-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
