.main-header {
  width: 100%; 
  background-color: #ffffff;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; 
}


.header-title {
  font-size: 3rem;      
  font-weight: 500;
  color: #000000;        
  margin: 0;
  text-align: left;
}

.header-subtitle {
  font-size: 1.25rem;    
  font-weight: 200;
  color: #000000;        
  margin-top: 12px;
  text-align: left;
}
